<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Enrollments</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<style>
    td,th{
        border:1px solid lightgrey;
        text-align:center;
    }
</style>
</head>
<body>
    <div class="container">
        <h4 class="center">Your courses</h4>
        <table class="striped">
            <thead>
                <tr>

                    <th>Course Name</th>
                    <th>Course Description</th>
                    <th>Credits</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr>
                    <td>{{ course.course_name }}</td>
                    <td>{{ course.description }}</td>
                    <td>{{ course.credits }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="center">
            <br><br>
            <a href="{% url 'professor_home' %}" class="btn">Back to Dashboard</a>
        </div>
    </div>
</body>
</html>
