{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Professor Sign Up</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <div class="container mt-5">
        <h4 class="center">{{ user_type }} Sign Up</h4>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <center>
                <br>
                <button type="submit" class="btn btn-primary" style="width:180px;">Sign Up</button>
            </center>

        </form>
    </div>
</body>
</html>
