<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Enrollments</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<style>
    td,th{
        border:1px solid lightgrey;
        text-align:center;
    }
</style>
</head>
<body>
    <div class="container">
        <h4 class="center"><b>{{professor.first_name}}</b> courses</h4>
        <br>
        <table class="striped">
            <thead>
                <tr>

                    <th>Course Name</th>
                    <th>Course Description</th>
                    <th>Credits</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr>
                    <td>{{ course.course_name }}</td>
                    <td>{{ course.description }}</td>
                    <td>{{ course.credits }}</td>
                    <td>
                        <a href="/enroll/{{course.pk}}/">Enroll Now</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</body>
</html>
