<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Professor Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<style>
    td,th{
        border:1px solid lightgrey;
    }
</style>
</head>
<body>
    <div class="container">
        <h4 class="center">Welcome, Professor Dashboard </h4>
<br>
        <table class="striped centered table">
            <thead>
            <tr>
                <th>ID</th>
                 <th>First Name</th>
                 <th>Last Name</th>
                 <th>Email</th>
                 <th>Department</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ professor.pk }}</td>
                <td>{{ professor.first_name }}</td>
                <td>{{ professor.last_name }}</td>
                <td>{{ professor.email }}</td>
                <td>{{ professor.department }}</td>


            </tr>
            </tbody>
        </table>
        <br><br>
        <!-- Cards for Navigation -->
            <div class="row">
                <div class="col s12 m4">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">See All Students</span>
                        <p>View the list of all students available in the system.</p>
                    </div>
                    <div class="card-action">
                        <a href="{% url 'student_list' %}" class="btn">View Students</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Add Course</span>
                        <p>Create a new course to be available for student enrollment.</p>
                    </div>
                    <div class="card-action">
                        <a href="{% url 'add_course' %}" class="btn">Add Course</a>
                    </div>
                </div>
            </div>
                 <div class="col s12 m4">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">See Your Courses</span>
                        <p>View the list of courses you created for students.</p>
                    </div>
                    <div class="card-action">
                        <a href="/professor/courses/" class="btn">View Courses</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">See Enrolled Students</span>
                        <p>View the list of students enrolled in your courses.</p>
                    </div>
                    <div class="card-action">
                        <a href="{% url 'professor_enrollments' %}" class="btn">View Enrollments</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
