{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user_type }} Sign Up</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<style>
    #id_password1_helptext{
        display:none;
    }
</style>
</head>
<body>
    <div class="container mt 5">

       <center>
           <h2 style="font-size:36px;">Student Sign Up</h2>
       </center>

        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <center>
                 <button type="submit" class="btn btn-primary" style="width:150px;">Sign Up</button>
                <br><br>
            </center>

        </form>
    </div>
</body>
</html>
