<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Professors</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<style>
    td,th{
        border:1px solid lightgrey;
    }
</style>
</head>
<body>
    <div class="container">
        <h4 class="center">All Students</h4>
        <table class="striped">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Address</th>

                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student.first_name }}</td>
                    <td>{{ student.last_name }}</td>
                    <td>{{ student.address }}</td>
                    <td>{{ student.department }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br><br>
        <center>
            <a href="{% url 'professor_home' %}" class="btn">Return Home</a>
        </center>
    </div>
</body>
</html>
